<ng-container *ngIf="course">
    <div class="course-card" 
        [ngClass]="setCardClasses()"
    >
        <div class="course-card__title">
            {{course.description}}
        </div>

        <img
            *ngIf="course.iconUrl; else noImageTemplate" 
            width="300" 
            alt="Angular Logo"
            [src]="course.iconUrl"
            class="course-card__image"
            >

        <ng-template #noImageTemplate>
            <p>No image available</p>
        </ng-template>

        <div *ngIf="!course.iconUrl">
            <p>No image available</p>
        </div>

        <div class="course-card__description course-description">
            {{course.longDescription}}
        </div>

        <div class="course-card__category-container"
            [ngSwitch]="course.category"
        >
            <div class="course-card__category-text" *ngSwitchCase="'BEGINNER'">Beginner</div>
            <div class="course-card__category-text" *ngSwitchCase="'INTERMEDIATE'">Intermediate</div>
            <div class="course-card__category-text" *ngSwitchCase="'ADVANCED'">Advanced</div>
            <div class="course-card__category-text" *ngSwitchDefault>All levels</div>
        </div>

        <button class="button" (click)="onClick()">View Course</button>
    </div>
</ng-container>