<div class="course-card" 
    *ngIf="course"
    [ngClass]="setCardClasses()"
>
    <div class="course-card__title course-title">
        {{course.description}}
    </div>

    <img
        *ngIf="course.iconUrl; else noImageTemplate" 
        width="300" 
        alt="Angular Logo"
        [src]="course.iconUrl"
        class="course-card__image"
        >

    <ng-template #noImageTemplate>
        <p>No image available</p>
    </ng-template>

    <div *ngIf="!course.iconUrl">
        <p>No image available</p>
    </div>

    <div class="course-card__description course-description">
        {{course.longDescription}}
    </div>

    <button class="button" (click)="onClick()">View Course</button>
</div>